h1 {
    color: blue;
}

p {
    font-size: 20px;
    
}

body {
    background-color: yellow;
    text-align: center;
    Padding: 30px;
}

img {
    width: 300px;
    border-radius: 15px;
    border: 10px solid blue;
    display: block;
    margin: 20px auto;
}
.content-box {
    background-color: white;
    width: 700px;
    margin: 20px auto;
}
